{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ 매칭_포스트_제목 }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/detail_matching.css' %}">
{% endblock %}

{% block content %}
<section>
    <p>
        <p>매칭 이미지</p>
        <img src="{{ matching.image.url }}" alt="매칭 이미지">
    </p>

    <p>작성자: {{ tattooist.nickname }}</p>
    <p>작성일: {{ matching.pub_date }}</p>

    <p>제목: {{ matching.title }}</p>
    <p>지역: {{ matching.get_region }} {{ matching.region_detail }}</p>
    <p>부위: {{ matching.get_part }}</p>
    <p>유형: {{ matching.get_tattoo_type }}</p>
    <p>가격: {{ matching.price }}원</p>
    <p>
        <p>본문</p>
        <p>{{ matching.description }}</p>
    </p>
</section>

<hr>

<section>
    <p>
        {{ matching.author.nickname }}
        <a href="{% url 'follow_pressed' matching.author.id %}"><button>
            {% if now_following %}
                ❤ {{ follower_count }}
            {% else %}
                🤍 {{ follower_count }}
            {% endif %}
        </button></a>
    </p>
    <p>{{ like_message }}</p>
    <p>
        <a href="{% url 'matching_like_pressed' matching.id %}">
            {% if not user_like %}
            {# 현재 접속한 유저가 좋아요를 누른 경우 #}
            찜하기
            {% else %}
            찜 취소
            {% endif %}
        </a>
    </p>

    <br>
    {% if is_author %}
        <p><a href={% url "modify_matching" tattooist_id=matching.author.id matching_id=matching.id %}>수정하기</a></p>
        <p><a href={% url "delete_matching" tattooist_id=matching.author.id matching_id=matching.id %}>삭제하기</a></p>
    {% endif %}
    <p><a href={% url "matching_list" %}>목록으로 가기</a></p>
</section>
{% endblock %}