{% extends 'base.html' %}
{% load static %}

{% block title %}
MATCHING LIST
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/matching_list.css' %}">
{% endblock %}

{% block content %}
<section>
    <table class="table">
        <thead>
            <tr>
                <th>작성일</th>
                <th>작성자</th>
                <th>지역</th>
                <th>유형</th>
                <th>부위</th>
                <th>가격</th>
            </tr>
        </thead>
        <tbody>
        {# 데이터가 있는 경우 #}
        {% if result_matching_list %}
            {% for matching in result_matching_list %}
            <tr>
                <td>{{ matching.pub_date }}</td>
                <td>{{ matching.author.nickname }}</td>
                <td>{{ matching.get_region }}</td>
                <td>{{ matching.get_tattoo_type }}</td>
                <td>{{ matching.get_part }}</td>
                <td>{{ matching.price }}</td>
            </tr>
            {% endfor %}
        {# 데이터가 없는 경우 #}
        {% else %}
            <tr>
                <td>조건에 맞는 매칭이 존재하지 않습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</section>
{% endblock %}