{% extends 'base.html' %}
{% load static %}

{% block title %}
MATCHING LIST
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/matching_list.css' %}">
{% endblock %}

{% block content %}
<section>
    {# 데이터가 있는 경우 #}
    {% if result_matching_list %}
        {% for matching in result_matching_list %}
            <div>
                <a href="{% url 'detail_matching' tattooist_id=matching.author.id matching_id=matching.id %}">
                    <img src="{{ matching.image.url }}" alt="매칭 이미지" style="width: 20rem; height: 20rem;">
                </a>
            </div>
        {% endfor %}
    {# 데이터가 없는 경우 #}
    {% else %}
        <div>조건에 맞는 매칭이 존재하지 않습니다.</div>
    {% endif %}

    {% if is_tattooist %}
        <a href="{% url 'create_matching' %}">매칭 작성하기</a>
    {% endif %}
</section>
{% endblock %}