beautifulsoup4==4.9.3
cssutils==1.0.2
Django==2.1
django-inlinecss==0.3.0
future==0.18.2
imgkit==1.0.2
Pillow==8.0.1
pynliner==0.8.0
pytz==2020.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
django-allauth==0.43.0