{% extends 'base.html' %}
{% load static %}

{% block title %}
MYPAGE
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
<section>
    <article>
        <div>{{ nickname }}</div>
        <div>
            <a href="{%url 'messagebox'%}"><button>쪽지함</button></a> |
            <a href=""><button>프로필 편집</button></a>
        </div>
        <div>
            <span>찜한 공고 {{ liked_matchings_cnt }}개 | </span>
            <span>작성한 리뷰 {{ review_cnt }}개 | </span>
            <span>팔로잉 {{ following_cnt }}명</span>
        </div>
        <div>
            <img style="width: 10rem;" src="{{ user_profile_image_url }}" alt="{{ nickname }}님의 프로필 이미지">
        </div>
    </article>

    <hr>

    <article>
        {% if menu == 'matching' %}
        {# 모드: 찜한 공고 #}
            <div>
                <button disabled>찜한 공고</button>
                <a href="{% url 'mypage' %}?menu=review"><button>작성한 리뷰</button></a>
                <a href="{% url 'mypage' %}?menu=following"><button>팔로우한 타투이스트</button></a>
            </div>
            {% if liked_matchings_exists %}
            {# 찜한 공고가 존재하는 경우 #}
                {% for matching in liked_matchings %}
                    <a href="{% url 'detail_matching' matching.author.id matching.id %}">
                        <div style="width: 10rem; background-color: lightgray">
                            <img style="width: 10rem;" src="{{ matching.image.url }}" alt="{{ matching }}">
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            {# 찜한 공고가 존재하지 않는 경우 #}
                <div>아직 찜한 공고가 존재하지 않습니다!</div>
            {% endif %}
        {% elif menu == 'review' %}
        {# 모드: 작성한 리뷰 #}
            <div>
                <a href="{% url 'mypage' %}?menu=matching"><button>찜한 공고</button></a>
                <button disabled>작성한 리뷰</button>
                <a href="{% url 'mypage' %}?menu=following"><button>팔로우한 타투이스트</button></a>
            </div>
            {% if review_exists %}
            {# 작성한 리뷰가 존재하는 경우 #}
                {% for review in reviews %}
                    <a href="{% url 'detail_review' review.id %}">
                        <div style="width: 10rem; background-color: lightgray">
                            <img style="width: 10rem;" src="{{ review.review_image.url }}" alt="{{ review }}">
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            {# 작성한 리뷰가 존재하지 않는 경우 #}
                <div>아직 작성된 리뷰가 존재하지 않습니다!</div>
            {% endif %}
        {% elif menu == 'following' %}
        {# 모드: 팔로우한 타투이스트 #}
            <div>
                <a href="{% url 'mypage' %}?menu=matching"><button>찜한 공고</button></a>
                <a href="{% url 'mypage' %}?menu=review"><button>작성한 리뷰</button></a>
                <button disabled>팔로우한 타투이스트</button>
            </div>
            {% if following_exists %}
            {# 팔로우한 타투이스트가 존재하는 경우 #}
                {% for tattooist in following %}
                    <a href="{% url 'tattooist_profile' tattooist.id %}">
                        <div style="width: 10rem; background-color: lightgray">
                            <img style="width: 10rem;" src="{{ tattooist.user_image.url }}" alt="{{ tattooist.nickname }}님의 프로필 이미지">
                            <div>{{ tattooist.nickname }}</div>
                            <div>{{ tattooist.get_short_introduce }}</div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            {# 팔로우한 타투이스트가 존재하지 않는 경우 #}
                <div>아직 팔로우한 타투이스트가 존재하지 않습니다!</div>
            {% endif %}
        {% else %}
            <div>잘못된 접근입니다.</div>
        {% endif %}
    </article>
</section>
{% endblock %}