{% extends 'base.html' %}
{% load static %}

{% block title %}
리뷰 작성
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/create_review.css' %}">
{% endblock %}

{% block content %}
{% load tattooistApp_extras %}
<section>
    {% get_matchings request.resolver_match.kwargs.tattooist_id request.user.id as matchings %}

    <form method="POST" action="{% url 'create_review' request.resolver_match.kwargs.tattooist_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <p>매칭</p>
            <p>
                <select name="matching">
                    {% for matching in matchings %}
                        <option value="{{matching}}">{{matching}}</option>
                    {% endfor %}
                </select>
            </p>
        </p>

        <p>
            <p>별점</p>
            <p>{{ form.score }}</p>
        </p>

        <p>
            <p>사진</p>
            <p>{{ form.review_image }}</p>
        </p>

        <p>
            <p>본문</p>
            <p>{{ form.description }}</p>
        </p>

        <input type="submit" value="작성 완료">
    </form>
</section>
{% endblock %}