{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ 포트폴리오_제목 }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/detail_portfolio.css' %}">
{% endblock %}

{% block content %}
<section>
    <div>
        <img style="width: 5rem; height: 5rem; border-radius: 50%;" src="{{ tattooist.user_image.url }}" alt="{{ tattooist.nickname }}님의 프로필 이미지">
        {{tattooist.nickname}}
    </div>
    <hr>

    <div>
        <img style="width: 20rem; height: 20rem;" src="{{portfolio.portfolio_image.url}}">
    </div>
    <br>
    <div>
        <img style="width: 5rem; height: 5rem; border-radius: 50%;" src="{{ tattooist.user_image.url }}" alt="{{ tattooist.nickname }}님의 프로필 이미지">
        {{tattooist.nickname}}
        {{portfolio.pub_date}}
        <br>
        {{portfolio.description}}
    </div>
    <hr>

    {% if is_author %}
        <p>
            <a href="{% url 'modify_portfolio' tattooist.id portfolio.id %}">포트폴리오 수정</a>
        </p>
        <p>
            <a href="{% url 'delete_portfolio' portfolio.id %}">포트폴리오 삭제</a>
        </p>
    {% endif %}
    {#쪽지 보내기#}

</section>
{% endblock %}