{% extends 'base.html' %}
{% load static %}

{% block title %}
Review
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/detail_review.css' %}">
{% endblock %}

{% block content %}
<section>
    <article>
        <div>
            <img style="width: 20rem; height: 20rem;" src="{{review.review_image.url}}" alt="{{ review }}">
        </div>
        <div>
            <div>
                <img style="width: 2rem; height: 2rem;"
                     src="{{ tattooist.user_image.url }}"
                     alt="{{ tattooist.nickname }}님의 프로필 이미지">
                <span>
                    {{ tattooist.nickname }}
                </span>
                {% if not is_author %}
                    <span>
                        <a href="{% url 'follow_pressed' tattooist.id %}"><button>
                            {% if now_following %}
                                ❤ {{ follower_count }}
                            {% else %}
                                🤍 {{ follower_count }}
                            {% endif %}
                        </button></a>
                    </span>
                {% else %}
                    <span>
                        <button disabled>🤍 {{ follower_count }}</button>
                    </span>
                {% endif %}
            </div>
            <div>
                <div>
                    <img style="width: 2rem; height: 2rem;"
                     src="{{ review.review_author.user_image.url }}"
                     alt="{{ review.review_author.nickname }}님의 프로필 이미지">
                </div>
                <div>
                    <span>{{ review.review_author.nickname }}</span>
                </div>
                <div>
                    별점: {{ review.score }} / 5
                </div>
                <div>
                    작성 일자: {{ review.pub_date }}
                </div>
                <div>
                    <img style="width: 30rem; height: 30rem;"
                     src="{{ review.review_image.url }}"
                     alt="{{ review.review_author.nickname }}님의 리뷰 이미지">
                </div>
                <div>
                    {{ review.description }}
                </div>
            </div>
        </div>
    </article>

    <a href="{% url 'modify_review' tattooist.id review.id %}"><button>
        리뷰 수정하기
        <!-- 이 부분은 어디에 배치할 것인지 상의하기 -->
    </button></a>

</section>
{% endblock %}