{% extends 'base.html' %}
{% load static %}

{% block title %}
리뷰 수정
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/modify_review.css' %}">
{% endblock %}

{% block content %}
{% load tattooistApp_extras %}
<section>
    {% get_matchings request.resolver_match.kwargs.tattooist_id request.user.id as matchings %}
    {% get_image request.resolver_match.kwargs.review_id as review_image %}
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <p>매칭</p>
            <p>
                <select name="matching">
                    {% for matching in matchings %}
                        <option value="{{matching}}">{{matching}}</option>
                    {% endfor %}
                </select>
            </p>
        </p>
        
        <p>
            <p>별점</p>
            <p>{{ form.score }}</p>
        </p>
        
        <p>
            <p>
                <p>현재 이미지</p>
                <img src="{{ review_image }}">
                <p>
                    <p>변경 이미지</p>
                    <input type="file" name="image" accept="image/*" id="id_image">
                </p>
            </p>
        </p>

        <p>
            <p>본문</p>
            <p>{{ form.description }}</p>
        </p>
        <input type="submit" value="작성 완료">
    </form>
</section>
{% endblock %}