{% extends 'base.html' %}
{% load static %}

{% block title %}
포트폴리오 수정
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/modify_portfolio.css' %}">
{% endblock %}

{% block content %}
<section>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <p>사진</p>
            <p>{{ form.portfolio_image }}</p>
        </p>
        <p>
            <p>본문</p>
            <p>{{ form.description }}</p>
        </p>
        <input type="submit" value="작성 완료">
    </form>
</section>
{% endblock %}