{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile of {{ tattooist.nickname }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tattooist_profile.css' %}">
{% endblock %}

{% block content %}
    {% if not is_tattooist %}
    {# 해당 유저가 타투이스트가 아닌 경우 #}
        <section>
            <p>해당 유저는 타투이스트가 아닙니다.</p>
        </section>
    {% else %} {# else: not is_tattooist #}
    {# 해당 유저가 타투이스트인 경우 #}
        <header style="display: flex; margin-left: 35rem;">
            <div style="flex-direction:column;">
            <p style="text-align:right; font-size:1.5rem;">{{ tattooist.nickname }}</p>
            {% if is_owner %}
                {# 해당 페이지의 주인인 경우 #}
                <p>
                    <a href="{% url 'create_portfolio' %}"><button class="button is-black is-inverted is-outlined" style="margin-right: 15px;">포트폴리오 작성</button></a>
                    <button class="button is-black is-inverted is-outlined">프로필 편집</button>
                </p>
            {% else %} {# else: is_owner #}
                {# 해당 페이지의 주인이 아닐 경우 #}
                <div style="margin-top: 10px;">
                    <a href="{% url 'follow_pressed' tattooist.id %}"><button class="button is-danger is-inverted is-outlined" style="margin-right: 15px;">
                        {% if now_following %}
                            ❤ {{ follower_count }}
                        {% else %}
                            🤍 {{ follower_count }}
                        {% endif %}
                    </button></a>
                    {% if request.user.is_authenticated %}
                    {# 로그인한 유저에게만 쪽지 보내기 버튼이 보임 #}
                    <a href="{% url 'message' request.user.id tattooist.id %}"><button class="button is-black is-inverted is-outlined" style="margin-right: 15px;">쪽지 보내기</button></a>
                    {% endif %}
                    {% if review_possible %}
                        {# 리뷰 작성이 가능한 경우 #}
                        <a href="{% url 'create_review' tattooist.id %}"><button class="button is-black is-inverted is-outlined">리뷰 작성하기</button></a>
                    {% else %}
                        {# 리뷰 작성이 불가능한 경우 #}
                        <button disabled class="button is-black is-inverted is-outlined">리뷰 작성 불가능</button>
                    {% endif %}
                </div>
            {% endif %} {# endif: is_owner #}
            <br>
            <p style="text-align: right;">
                {{ tattooist.introduce }}
            </p>
            </div>
            <p>
                <img style="width: 10rem; height: 10rem; border-radius: 50%; margin-left: 1rem;" src="{{ tattooist.user_image.url }}" alt="{{ tattooist.nickname }}님의 프로필 이미지">
            </p>
            
        </header>

        <hr>

        <section>
            {# 화면 전환 #}
            {% if content_is_portfolio %}
            {# 포트폴리오 화면인 경우 #}
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active"><a href="?page=1&menu=portfolio">포트폴리오 목록</a></li>
                    <li><a href="?page=1&menu=review">리뷰 목록</a></li>
                </ul>
            </div>
            {% else %}
                {# 리뷰 화면인 경우 #}
                <div class="tabs is-centered">
                    <ul>
                        <li><a href="?page=1&menu=portfolio">포트폴리오 목록</a></li>
                        <li class="is-active"><a href="?page=1&menu=review">리뷰 목록</a></li>
                    </ul>
                </div>
            {% endif %}

            {% if content_is_portfolio %}
              {# 포트폴리오 화면인 경우 #}
              
                {% if portfolios %}
                    {# 포트폴리오가 있는 경우 #}
                    {% for portfolio in portfolios %}
                         <div style="display: inline-block; margin-left: 9%;">
                            <a href="{% url 'detail_portfolio' tattooist.id portfolio.id %}">
                                <img style="width: 15rem; height: 15rem;" src="{{ portfolio.portfolio_image.url }}" alt="포트폴리오 이미지 {{ portfolio.id }}">
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    {# 포트폴리오가 없는 경우 #}
                    <div style="text-align: center;">작성된 포트폴리오가 없습니다.</div>
                {% endif %}
                <p style="margin-left: 47%;">
                    {# 페이지네이션 - 이전 #}
                    {% if portfolios.has_previous %}
                        {# 이전 페이지가 있을 때만 보임 #}
                        <a href="?page=1&menu=portfolio"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href="?page={{ portfolios.previous_page_number }}&menu=portfolio"><i class="fa fa-angle-left"></i></a>
                    {% else %}
                        {# 이전 페이지가 없을 때 보임 #}
                        <a href="?page=1&menu=portfolio"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                    {% endif %}

                    {# 페이지네이션 - 중앙 #}
                    <span>{{ portfolios.number }}</span>
                    <span>/</span>
                    <span>{{ portfolios.paginator.num_pages }}</span>

                    {# 페이지네이션 - 다음 #}
                    {% if portfolios.has_next %}
                        {# 다음 페이지가 있을 때만 보임 #}
                        <a href="?page={{ portfolios.next_page_number }}&menu=portfolio"><i class="fa fa-angle-right"></i></a>
                        <a href="?page={{ portfolios.paginator.num_pages }}&menu=portfolio"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    {% else %}
                        {# 다음 페이지가 없을 때만 보임 #}
                        <a href="#"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <a href="?page={{ portfolios.paginator.num_pages }}&menu=portfolio"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    {% endif %}
                </p>
            {% else %} {# else: content_is_portfolio #}
               {# 리뷰 화면인 경우 #}
                {% if reviews %}
                    {# 리뷰가 있는 경우 #}
                    {% for review in reviews %}
                    <div style="display: inline-block; margin-left: 9%;">
                            <a href="{% url 'detail_review' review.id %}">
                                <img style="width: 10rem; height: 10rem;" src="{{ review.review_image.url }}" alt="리뷰 이미지 {{ review.id }}">
                            </a>
                    </div>
                    {% endfor %}
                {% else %}
                    {# 리뷰가 없는 경우 #}
                    <div style="text-align: center;">리뷰가 아직 작성되지 않았습니다.</div>
                {% endif %}
                <p style="margin-left: 47%;">
                    {# 페이지네이션 - 이전 #}
                    {% if reviews.has_previous %}
                        {# 이전 페이지가 있을 때만 보임 #}
                        <a href="?page=1&menu=review"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href="?page={{ reviews.previous_page_number }}&menu=review"><i class="fa fa-angle-left"></i></a>
                    {% else %}
                        {# 이전 페이지가 없을 때 보임 #}
                        <a href="?page=1&menu=review"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                    {% endif %}

                    {# 페이지네이션 - 중앙 #}
                    <span>{{ reviews.number }}</span>
                    <span>/</span>
                    <span>{{ reviews.paginator.num_pages }}</span>

                    {# 페이지네이션 - 다음 #}
                    {% if reviews.has_next %}
                        {# 다음 페이지가 있을 때만 보임 #}
                        <a href="?page={{ reviews.next_page_number }}&menu=review"><i class="fa fa-angle-right"></i></a>
                        <a href="?page={{ reviews.paginator.num_pages }}&menu=review"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    {% else %}
                        {# 다음 페이지가 없을 때만 보임 #}
                        <a href="#"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <a href="?page={{ reviews.paginator.num_pages }}&menu=review"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    {% endif %}
                </p>
            {% endif %} {# endif: content_is_portfolio #}
        </section>
     

    {% endif %} {# endif: not is_tattooist #}
{% endblock %}